h1,
p {
  text-align: center;
  color: brown;
}

.links {
  text-align: center;
  margin-top: 20px;
  color: green;
  padding: 20px;
}

body {
  background-color: #ffecaf;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}
